* {
  box-sizing: border-box;
}
html,
body {
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
}
ul {
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
}
ul li {
  display: inline-block;
  padding-right: 15px;
}
nav {
  height: 10%;
}
a {
  outline: none;
  color: black;
  text-decoration: none;
}
img {
  width: 300px;
}
section {
  height: 50%;
  clear: both;
  text-align: center;
}
footer {
  height: 20%;
}
div a:hover {
  background-color: #c7c7c7;
}
hr {
  border: 1px solid rgb(240, 227, 227);
}
footer p {
  padding-left: 20px;
  padding-top: 10px;
}
/* Classes */
.icon {
  position: relative;
  top: 7px;
}
.sign-in {
  padding: 0 20px;
  background-color: rgb(38, 38, 236);
}
.sign-in a {
  color: white;
  padding: 5px;
  font-weight: 500;
}
.float-right {
  float: right;
}
.padding-top {
  padding-top: 20px;
}
.padding-top a:nth-of-type(1) {
  padding-right: 20px;
}
.space {
  height: 20%;
}
.light-box {
  background-color: #f8f9fa;
  padding: 10px 20px;
}
.light-background {
  background-color: #dfdede;
}
.blue-text {
  color: blue;
  font-weight: 300;
}
.search-box {
  width: 50%;
  height: 30px;
}
.side-links {
  padding-left: 40px;
}
